@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF4655;
    --secundary-color: #131723;
    --terciary-color: #FFFFFF;
}

body {
    height: 100vh;
    background-color: var(--secundary-color);
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--primary-color);
    height: 80px;
    display: flex;
    align-items: center;
    gap: 2%;
    padding: 3vw;

}

.logo-cabecalho {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 40vw;
    gap: 30px;

}

.vetor {
    background-color: var(--secundary-color);
    height: 65px;
    width: 3px;
}

.nav-cabecalho {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 35px;
    padding-left: 15vw;
}

main {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 3%;
}

.title {
    position: relative;
    grid-column: 1/3;
    top: 5%;
    left: 10%;
}

.title_text {
    grid: 1/-1;
    font-family: 'Oswald', sans-serif;
    color: var(--primary-color);
    font-size: 9vw;
}

.title_text_dois {
    position: relative;
    font-family: 'Oswald', sans-serif;
    color: var(--terciary-color);
    font-size: 2vw;
    top: -22%;
    left: 137%;
}

a {
    text-decoration: none;
    color: var(--secundary-color);
}

.descricao {
    position: relative;
    grid-column: 1/5;
    font-family: 'Poppins', sans-serif;
    color: var(--terciary-color);
    padding: 6%;
    top: -60%;
    
}

.descricao_dois {
    flex: 1;
    position: relative;
    grid-column: 1/5;
    font-family:'Poppins', sans-serif;
    color: var(--terciary-color);
    padding: 6%;
    top: -90%;
    height: 200px;
}

.img-background {
  /*  flex: 1;
    grid-column: 1/-1;
    position: relative;
    left: 40%;
    top: -100%;
    z-index: -1;
    width: 70vw;
    height: 45vw;
    transform: translateX(-50%);*/
    position: absolute;
    width: 1401.46px;
    height: 800.06px;
    left: 0px;
    top: 128.94px;
}

.img-left {
    position: relative;
    grid-column: 5/12;
    top: -300%;
    left: 70%;
    width: 400px;
    height: 200px;
    

}

.img-killjoy {
    width: 25vw;
    height: 40vw;
    transform:translateX(-50%);
}

.img-left__dois {
    position: relative;
    grid-column: 5/12;
    top: -1800%;
    left: 100%;
    width: 100px;
    height: 40px;
    z-index: -1;
}

.img-valorant {
    width: 5vw;
    height: 30vw;
    transform: translateX(-50%);
}

.main__teste {
    display: flex;
    flex-direction: row;
    grid-column: 1/7;
    gap: 100px;
    position: relative;
    top: -100%;
    left: -10%;
}

.teste {
    flex: 1;
    position: relative;
    background-color: white;
    top: -200%;
    left: 15%;
    height: 100px;
    display: flex;
    flex-direction: row;
    padding-left: 90px;
    
}

.borda-vermelha {
    border: 2px solid #FF4655;
    position: relative;
    width: 230px;
    height: 100px;
    left: 2%;
    top: -160%;
    grid-column: 1/7;
    z-index: 1;
}

.img-icon {
    flex: 1;
    grid-column: 1/3;
    height: 4.2vw;
    width: 3.9vw;
    position: relative;
    top: -230%;
    left: 15%;
    z-index: 1;
}

.titulo__description__um {
    padding-top: 10px;
    font-weight: 800;
    font-size: .9rem;
}

.description__um {
    font-weight: 400;
    font-size: .6rem;
}